#page {
  overflow-x: hidden;
}
._disabled {
  //pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  * {
    pointer-events: none !important;
  }
}

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  &:hover, &:focus, &:active {
    outline: none;
    //border: none;
    box-shadow: none !important;

  }
}

.navbar.navbar--page {
  padding-left: 0px;
  padding-right: 0px;
}

.btn_flex {
  //border: solid 1px red;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background: none;
  color: #9b9b9b;
  font-size: 16px;
  &:hover, &:focus, &:active {
    outline: none;
    //border: none;
    box-shadow: none;
  }
  img {
    margin-right: 10px;
  }
  @media (max-width: 991px) {
    padding-left: 0px;
  }
}
.header {
  .d-flex.justify-content-start {
    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
  }
  .form_search {
    @media(max-width: 991px) {
      //border: solid 1px red;
      //flex: 1;
      width: 100%;
    }
  }
  .navbar-light .navbar-toggler {
    @media(max-width: 991px) {
      border-color: red;
      border: none;
      padding: 0px;
    }
  }
}
.form_search {
  //border: solid 1px red;
  background: #f2f3f5;
  input {
    background: none;
    border-color: transparent;
    border-radius: 0px;
    color: #9b9b9b;
    font-style: italic;
    flex: 1;
  }
  button {
    background: none;
    border: none;
    &:hover, &:focus {
      background: none;
    }
  }
}

.nav_head {
  @media(max-width: 991px){
    //border: solid 1px red;
    flex-direction: row;
    margin: 0px -10px;
    flex-wrap: wrap;
  }
  .nav-item {
    //border: solid 1px red;
    display: flex;
    align-items: center;

    @media(max-width: 991px) {
      margin: 0px 10px;
    }
    &:last-child {
      .nav-link {
        padding-right: 0px;
      }
    }
    .nav-link {
      //border: solid 1px red;
      display: flex;
      align-items: center;
      height: 100%;
      &.link-modal {
        //border: solid 1px red;
        //padding: 0px 5px;
        margin-right: 10px;
      }
      img {
        margin-right: 5px;
      }
    }
  }
}

.banner {
  //border: solid 1px red;
  position: relative;
  .content_banner {
    width: 100%;
    //border: solid 1px blue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .caption_banner {
      font-size: 28px;
      color: #fefefe;
      margin-bottom: 10px;
      @media(max-width: 767px) {
        font-size: 18px;
      }
    }
    &--thumb {
      //border: solid 1px gold;
      max-width: 450px;
      width: 100%;
      @media(max-width: 767px) {
        max-width: 310px;
      }
    }
  }
}

.bg-blue {
  background: #09a6e0;
}

.section {
  //border: solid 1px blue;
  padding: 40px 0px;
  &.blue {
    background: #09a6e0;
  }
  &.gray {
    background: #f1f1f1;
  }
}
.gray {
  background: #f1f1f1;
  &.inset {
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.1);
    &:hover {
      box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.1) !important;
    }
  }
}
.breadcrumb-item+.breadcrumb-item::before {
  content: '»';
}

.fa-star {
  color: #888888;
  margin-right: 5px;
}

.checked {
  color: #f4c150;
}

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 40px;
  background: url("../images/left_arr.png") no-repeat center;
  font-size: 0px;
  border: none;
  cursor: pointer;
  z-index: 999;
}
.list-slider-book, .partner_items {
  .slick-prev, .slick-next {
    background: url("../images/arr.png") no-repeat center;
  }
}

.slick-prev {
  //arr_left.png
  left: 0px;

}

.slick-next {
  right: 0px;
  transform: scale(-1) translateY(50%);
}

.footer {

  background: url("../images/bg_footer.jpg") no-repeat;
  background-size: cover;
  .conten_footer {
    //border: solid 1px blue;
    display: flex;
    margin: 0px -15px;
    @media(max-width: 767px) {
      flex-wrap: wrap;
      padding-top: 30px;
    }
    .item {
      //border: solid 1px red;
      width: 25%;
      padding: 80px 15px 30px 15px;
      @media(max-width: 991px) {
        padding-top: 30px;
      }
      @media(max-width: 767px) {
        width: 33.3333%;
        padding: 0px 15px !important;
        margin-bottom: 30px;
      }
      @media(max-width: 575px) {
        width: 100%;
      }

      &:nth-child(2) {
        padding-left: 50px;
        @media(max-width: 991px) {
          padding-left: 15px;
        }
      }
      .title {
        color: #ffffff;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 20px;
        @media(max-width: 575px) {
          text-align: center;
        }
      }
      .link_map {
        font-size: 15px;
        color: #bbbbbb;
        //display: block;
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        @media(max-width: 575px) {
          justify-content: center;
        }
        img {
          margin-right: 10px;
        }
      }
      &--logo {
        padding: 30px 0px 0px 0px;
        @media(max-width: 767px) {
          order: 1;
          width: 100%;
        }
        .logo_foo {
          margin: 0 auto;
          display: block;
        }
        .title {
          margin: 30px 0px;
        }
        .link_store {
          display: flex;
          justify-content: center;
          a {
            //border: solid 1px red;
            display: block;
            margin: 0px 5px;
          }
        }
      }
      .logo_Trade {
        margin-top: 30px;
        img {
          @media(max-width: 575px) {
            margin: 0 auto;
          }
        }
      }
    }
  }
  .text_copyright {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    padding: 30px 0px;
  }

}


.add_card {
  border: solid 1px #09a6e0;
  border-radius: 10px;
  //opacity: 0;
  //visibility: hidden;
  //pointer-events: none;
  //position: absolute;
  //z-index: 999;
  //left: 108%;
  //bottom: -20%;

  transition: all 0.25s linear;

  //width: 500px;
  padding: 15px 15px;
  //width: 350px;
  background: #fff;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4) !important;

  &:before {
    //content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -19px;
    transform: translateY(-50%);
    background: url("../images/caret.png") left center no-repeat;
    width: 18px;
    height: 100%;
    z-index: 9;
  }

  .head {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: solid 1px #cecece;
    padding-bottom: 10px;
    ._avatar {
      margin-right: 10px;
      img {
        display: block;
        width: 40px;
        border-radius: 100%;
      }
    }
    ._info {
      p {
        color: #666666;
      }
      a {
        color: #09a6e0;
      }
    }
  }
  ._title {
    a {
      color: #666666;
      font-weight: 700;
    }
    margin-bottom: 15px;
  }
  .info_learn {
    display: flex;
    //border: solid 1px red;
    justify-content: space-between;
    margin-bottom: 15px;
    .item {
      width: 50%;
      display: flex;
      align-items: center;
      font-size: 15px;
      color: #09a6e0;
      img {
        margin-right: 10px;
      }
    }
  }
  .ders_hover, .dot {
    font-size: 15px;
    color: #666666;
    margin-bottom: 15px;
  }
  .dot {
    padding: 0px 0px 0px 20px;
    position: relative;
    &:before {
      position: absolute;
      top: 8px;
      left: 0px;
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: #9b9b9b;
    }
  }
  .btn_card {
    background: #09a6e0;
    color: #fff;
    display: block;
    width: 100%;
  }
}
.breadcrumb {
  &--transparent {
    background: transparent;
  }
  &--home {
    //border: solid 1px red;
    border-radius: 0;
    @media (min-width: 768px) {

      padding-left: 0;
      padding-right: 0;
    }
    .breadcrumb-item {
      font-size: 15px;
      color: #9b9b9b;
      display: flex;
      align-items: center;
      a {
        font-size: 15px;
        color: #9b9b9b;
        display: flex;
        align-items: center;
        img {margin-right: 5px;}
      }
    }
  }
}
.pagination-page {
  .pagination {
    //border: solid 1px red;
    margin-bottom: 0px;
    margin-top: 30px;
    .page-item {
      //09a6e0
      &.active {
        .page-link {
          background: #09a6e0;
          border-color: #09a6e0;
          color: #fff;
        }
      }
      .page-link {
        border-color: #c4cbce;
        border-radius: 0px;
        height: 100%;
        font-size: 17px;
        color: #666666;
        display: flex;
        align-items: center;
        &--right {
          //border: solid 1px red;
          img {
            transform: scale(-1);
          }
        }
      }
    }

  }
}
.user_authenticated {
  //border: solid 1px red;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
  @media(max-width: 575px) {
    margin-left: 0px;
  }
  >* {
    &:first-child {
      margin-right: 5px;
    }

  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;

  }
  .username {
    color: #6ec0e9;
    font-size: 15px;
    font-weight: bold;
  }
  .list_menu_profile {
    position: fixed;
    opacity: 0;
    pointer-events: none;

  }
}
.popover-card.popover  {
  max-width: 350px;
  border: none;
  .popover-body {
    padding: 0;
  }
  .arrow {
    &:before {border-right-color: #09a6e0; border-left-color: #09a6e0}
    &:after {border-right-color: #09a6e0;border-left-color: #09a6e0;}
  }
}

.list_menu_profile.hid {

}


.popover.popover-auth {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4) !important;

  .arrow {
    &:before {border-bottom-color: #09a6e0; border-top-color: #09a6e0}
    &:after {border-bottom-color: #09a6e0; border-top-color: #09a6e0;}
  }
  .popover-body {
    padding: 20px;
  }
}

.list_menu_profile, .menu_learn_cate {
  .item {
    //border: solid 1px red;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0px;
    }
    a {
      color: #666666;
      border-color: #c4cbce;
      font-size: 16px;
      &:hover, &.active {
        color: #09a6e0;
      }
    }
  }
}

.form-auth {
  label.error {
    color: #FF0000;
    font-size: 12px;
  }
}


// TODO: dropdown menu


.dropdown_cate {
  position: relative;
  display: inline-block;

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    //border: solid 1px #09a6e0;
    margin-top: 10px;
    .pos-relative {
      &:after, &:before {
        bottom: 100%;
        left: 50px;
        border: solid transparent;
        //content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #09a6e0;
        border-width: 15px;
        margin-left: -15px;
      }
      &:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #09a6e0;
        border-width: 16px;
        margin-left: -16px;
      }
    }
  }
  &:before {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100px;
    content: '';
    //border: solid 1px red;
  }
  &:hover {
    .dropdown-content {display: block; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;}
  }
}

.menu_learn_cate {
  //border: solid 1px red;
  padding: 20px 0;
  width: 200px;
  max-height: 70vh;
  overflow-y: auto;
  background: #ffffff;
  .item {
    //border: solid 1px blue;
    padding: 0 20px;
    >a {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &:before {
      //content: '';
      position: absolute;
      right: 0px;
      top: 0px;
      //height: 100%;
      height: 30px;
      //border: solid 1px red;
      width: 30px;
      margin-bottom: 10px;
    }
    &:hover {
      .menu_learn_cate {
        display: block;
      }
    }

    .menu_learn_cate {
      position: absolute;
      //border: solid 1px red;
      display: none;
      left: calc(100% - 10px);
      top: -1px;
      min-height: calc(100% + 2px);
      //height: 100%;
      background: #f1f1f1;
      //border: solid 1px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;

    }
  }
}
