._disabled {
  //pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  * {
    pointer-events: none !important;
  }
}

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  &:hover, &:focus, &:active {
    outline: none;
    //border: none;
    box-shadow: none !important;

  }
}

.navbar.navbar--page {
  padding-left: 0px;
  padding-right: 0px;
}

.btn_flex {
  //border: solid 1px red;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background: none;
  color: #9b9b9b;
  font-size: 16px;
  &:hover, &:focus, &:active {
    outline: none;
    //border: none;
    box-shadow: none;
  }
  img {
    margin-right: 10px;
  }
}

.form_search {
  //border: solid 1px red;
  background: #f2f3f5;
  input {
    background: none;
    border-color: transparent;
    border-radius: 0px;
    color: #9b9b9b;
    font-style: italic;
    flex: 1;
  }
  button {
    background: none;
    border: none;
    &:hover, &:focus {
      background: none;
    }
  }
}

.nav_head {
  .nav-item {
    &:last-child {
      .nav-link {
        padding-right: 0px;
      }
    }
    .nav-link {
      //border: solid 1px red;
      display: flex;
      align-items: center;
      height: 100%;
      img {
        margin-right: 5px;
      }
    }
  }
}

.banner {
  //border: solid 1px red;
  position: relative;
  .content_banner {
    width: 100%;
    //border: solid 1px blue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .caption_banner {
      font-size: 28px;
      color: #fefefe;
      margin-bottom: 10px;
    }
    &--thumb {
      //border: solid 1px gold;
      max-width: 450px;
      width: 100%;
    }
  }
}

.bg-blue {
  background: #09a6e0;
}

.section {
  //border: solid 1px blue;
  padding: 40px 0px;
  &.blue {
    background: #09a6e0;
  }
  &.gray {
    background: #f1f1f1;
  }
}

.fa-star {
  color: #888888;
  margin-right: 5px;
}

.checked {
  color: #f4c150;
}

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 40px;
  background: url("../images/left_arr.png") no-repeat center;
  font-size: 0px;
  border: none;
  cursor: pointer;
  z-index: 999;
}

.slick-prev {
  //arr_left.png
  left: 0px;

}

.slick-next {
  right: 0px;
  transform: scale(-1) translateY(50%);
}

.footer {

  background: url("../images/bg_footer.jpg") no-repeat;
  background-size: cover;
  .conten_footer {
    //border: solid 1px blue;
    display: flex;
    margin: 0px -15px;
    .item {
      //border: solid 1px red;
      width: 25%;
      padding: 80px 15px 30px 15px;
      &:nth-child(2) {
        padding-left: 50px;
      }
      .title {
        color: #ffffff;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .link_map {
        font-size: 15px;
        color: #bbbbbb;
        //display: block;
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        img {
          margin-right: 10px;
        }
      }
      &--logo {
        padding: 30px 0px 0px 0px;
        .logo_foo {
          margin: 0 auto;
          display: block;
        }
        .title {
          margin: 30px 0px;
        }
        .link_store {
          display: flex;
          justify-content: center;
          a {
            //border: solid 1px red;
            display: block;
            margin: 0px 5px;
          }
        }
      }
      .logo_Trade {
        margin-top: 30px;
      }
    }
  }
  .text_copyright {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    padding: 30px 0px;
  }

}


.add_card {
  border: solid 1px #09a6e0;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.25s linear;

  //width: 500px;
  padding: 15px 15px;
  position: absolute;
  left: 108%;
  bottom: -20%;
  width: 350px;
  background: #fff;
  z-index: 999;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4) !important;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -19px;
    transform: translateY(-50%);
    background: url("../images/caret.png") left center no-repeat;
    width: 18px;
    height: 100%;
    z-index: 9;
  }

  .head {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: solid 1px #cecece;
    padding-bottom: 10px;
    ._avatar {
      margin-right: 10px;
      img {
        display: block;
        width: 40px;
        border-radius: 100%;
      }
    }
    ._info {
      p {
        color: #666666;
      }
      a {
        color: #09a6e0;
      }
    }
  }
  ._title {
    a {
      color: #666666;
      font-weight: 700;
    }
    margin-bottom: 15px;
  }
  .info_learn {
    display: flex;
    //border: solid 1px red;
    justify-content: space-between;
    margin-bottom: 15px;
    .item {
      width: 50%;
      display: flex;
      align-items: center;
      font-size: 15px;
      color: #09a6e0;
      img {
        margin-right: 10px;
      }
    }
  }
  .ders_hover, .dot {
    font-size: 15px;
    color: #666666;
    margin-bottom: 15px;
  }
  .dot {
    padding: 0px 0px 0px 20px;
    position: relative;
    &:before {
      position: absolute;
      top: 8px;
      left: 0px;
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: #9b9b9b;
    }
  }
  .btn_card {
    background: #09a6e0;
    color: #fff;
    display: block;
    width: 100%;
  }
}


