.text-content {
  color: #666666;
  font-size: 15px;
}
.left_content {
  &--foo {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    border: solid 1px #e8e9eb;
    border-left: none;
    border-right: none;
    padding: 20px 0px;
    margin-top: 40px;
    //margin-bottom: 40px;
    .item {
      //border: solid 1px red;
      //width: 33.3333%;
      color: #666666;
      display: flex;
      align-items: center;
      justify-content: center;
      &.line {
        width: 5px;
      }
    }
    .ders {
      font-size: 16px;
      color: #666666;
    }
  }
}
.food_content {
  margin-top: 40px;
}
.full-height {
  height: 100%;
}
.pic_file_topic {
  &.radius {
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }
}